@media screen and (min-width: 801px){

    .announcementColumn{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 20vw;
      border-right: 1px solid rgb(236, 236, 236);
      box-shadow: -2px 0px 1px rgb(216, 216, 216);
      background-color: rgb(250, 250, 250);
      margin-right: 2px;
      padding: 5px;
      height: 90vh;
      position: sticky;
      position: -webkit-sticky;
      top:10vh;
    }
    
    .announcements{
      height: 42vh;
      width: 100%;
      background-color: rgb(250, 250, 250);
      margin-top: 1vh;
      margin-left: 3px;
      margin-right: 3px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      box-sizing: border-box;
      position: sticky;
      position: -webkit-sticky;
      top: 12vh;
      text-align: left;
      overflow-y: scroll;
      scrollbar-width: none;
      -webkit-overflow-scrolling: touch;
    }
  
    .announcements::-webkit-scrollbar{
      display: none;
    }
    
    .announceList{
      font-size: small;
      align-self: start;
      margin-bottom: 3px;
      margin-left: 3px;
      flex-shrink: 0;
      text-align: justify;
    }
    
    .announceTitle{
      color: darkblue;
      margin-top: 5px;
      margin-bottom: 4px;
      align-self: center;
      font-size: large;
      border-bottom: 1px solid rgb(197, 197, 197);
      margin-left: 3px;
      text-align: center;
      width: 100%;
    }
  
    .events{
      height: 41vh;
      width: 100%;
      background-color: rgb(250, 250, 250);
      margin-right: 5px;
      margin-left: 5px;
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      align-items: center;
      box-sizing: border-box;
      position: sticky;
      position: -webkit-sticky;
      top: 54vh;
      overflow-y: scroll;
      scrollbar-width: none;
      -webkit-overflow-scrolling: touch;
      border-bottom: 1px solid rgb(197, 197, 197);
    }

    .events::-webkit-scrollbar{
      display: none;
    }
  
    .closeIcon{
      align-self: flex-start;
      color: red; 
      
    }

    .footerText{
      text-decoration: inherit;
      position: sticky;
      position: -webkit-sticky;
      bottom: 1vh;
      margin-top: 20px;
    }
  }
      
  @media screen and (max-width: 800px){
    .announcementColumn{
      display: none;
    }
  }