@media screen and (max-width: 800px){
    .infoContent{
      display: grid;
      width: 100%;
      grid-template-columns: 98%;
      row-gap: 2vh;
      justify-content: space-between;
    }  
  }
  
  @media screen and (min-width: 801px){
    .infoContent{
      margin-top: 1vh;
      display: grid;
      width: 100%;
      grid-template-columns: 98%;
      row-gap: 2vh;
      justify-content: space-between;
    }
  }