@media screen and (max-width: 1350px){
    .infoContent{
      display: grid;
      width: 100%;
      grid-template-columns: 100%;
      row-gap: 2vh;
      justify-content: space-between;
    }  
}

@media screen and (min-width: 1351px){
  .infoContent{
    margin-top: 1vh;
    display: grid;
    width: 100%;
    grid-template-columns: 49% 49%;
    row-gap: 2vh;
    justify-content: space-between;
  }
}