@media screen and (max-width: 800px){
  .marquee{
    width: 100%;
    height: 5vh;
    line-height: 1vh;
    background-color: rgb(250,250,250);
    color: darkblue;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;                                                                                                                                                                                                                                                
    top: 95vh;
    z-index: 1;
    position: sticky;
    position: -webkit-sticky;
    border-top: 1px solid rgb(236, 236, 236);
    border-left: 1px solid rgb(236, 236, 236);
    border-right: 1px solid rgb(236, 236, 236);
    box-shadow: -1px -1px 1px rgb(236, 236, 236);
    padding-bottom: 4px;
  }
  
  .marqueeText{
    display: inline-block;
    padding-left: 100%;
    animation: marquee 20s linear infinite;
    align-self: center;
  }

  @keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
  }
}

@media screen and (min-width: 801px){
  .marquee{
    display: none;
  }
}