.infoView{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 100%;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
    background-color: rgb(250, 250, 250);
}

@media screen and (min-width: 801px){
    .imageBox{
        width: 100%;
        max-height: 50vh;
        overflow-y: hidden;
    }
}

@media screen and (max-width: 450px){
    .imageBox{
        width: 100%;
        height: 35vh;
        overflow-y: hidden;
        padding-left: 4px;
        padding-right: 4px;
    }
}

@media screen and (min-width: 451px) and (max-width: 801px){
    .imageBox{
        width: 100%;
        height: 50vh;
        overflow-y: hidden;
    }
}


.noimageBox{
    display: none;
}

.title{
    font-size: x-large;
    align-self: start;
    margin-bottom: 2vh;
}

.content{
    align-self: start;
    margin-bottom: 1vh;
    white-space: pre-line;
}
